{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="class p-5">
    <h1>Yangiliklar {% if user.is_superuser %} <small><a href="{% url 'new:create' %}" class="btn btn-primary float-end">QO'SHISH</a></small>{% endif %}</h1>
  </div>
  {% for new in object_list%}
    <div class="col-md-4">
        <div class="card my-3">
              {% if new.image %}
              <img src="{{ new.image.url }}" class="card-img-top" alt="{{ new.title }}">
              {% endif %}
              <div class="card-body">
              <h5 class="card-title">{{ new.title }}</h5>
              <p class="card-text">{{ new.body|safe|truncatewords_html:10 }}</p>
              <a href="{% url 'new:detail' id=new.id%}" class="btn btn-primary">Batafsil</a>
            </div>
          </div>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          {% if page_obj.has_previous %}
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <i class="fa fa-arrow-left"></i>
              </a>
          {% endif %}
        </li>
        {% for page in page_obj.paginator %}
        <li class="page-item">
            <a class="page-link"  href="?page={{ page.number }}">{{ page.number }}</a>
        </li>
        {% endfor %}

        <li class="page-item">
          {% if page_obj.has_next %}
              <a class="page-link"  href="?page={{ page_obj.next_page_number }}">
                <i class="fa fa-arrow-right"></i>
              </a>
          {% endif %}
        </li>
      </ul>
    </nav>
    
</div>

{% endblock content %}